In [2]:
#########################################################################################################################
#
# Course: Machine Learning in Discriptive Problems
# 
# Name: Jyothi Nandikonda
#
# Dataset: imports-85.data/automobile.dat
#
# Deadline: 22.2.2019
#
#########################################################################################################################

In [3]:
# Homework Description

2.A Missing values, feature engineering, feature selection
Take a dataset from https://sci2s.ugr.es/keel/dataset.php?cod=90, then predict car risk value (-2..+3) using RidgeClassifier().

2.B Text feature extraction
Take the 20 newsgroup dataset from https://archive.ics.uci.edu/ml/datasets/Twenty+Newsgroups or https://scikit-learn.org/0.19/datasets/twenty_newsgroups.html, load texts to Python, then use HashingVectorizer() to get features and build a classifier with RandomForestClassifier().

In [4]:
import pandas as pd
import numpy as np

In [5]:
filename = './imports-85.data'
names = ['symboling', 'normalized_losses', 'make','fuel_type','aspiration','num_of_doors','body_style','drive_wheels','engine_location',
       'wheel_base','length', 'width', 'height', 'curb_weight','engine_type','num_of_cylinders','engine_size','fuel_system','bore','stroke',
       'compression_ratio','horsepower','peak_rpm', 'city_mpg','highway_mpg','price']

In [6]:
df = pd.read_csv(filename, names = names, delimiter=',', na_values="?")

In [7]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized_losses    164 non-null float64
make                 205 non-null object
fuel_type            205 non-null object
aspiration           205 non-null object
num_of_doors         203 non-null object
body_style           205 non-null object
drive_wheels         205 non-null object
engine_location      205 non-null object
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null object
num_of_cylinders     205 non-null object
engine_size          205 non-null int64
fuel_system          205 non-null object
bore                 201 non-null float64
stroke               201 non-null float64
compression_ratio    205 non-null float64
horsepower           203 non-null float64
peak_rpm             203 non-null float64
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
price                201 non-null float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.7+ KB

# 2.A Missing values, feature engineering, feature selection Take a dataset from https://sci2s.ugr.es/keel/dataset.php?cod=90, then predict car risk value (-2..+3) using RidgeClassifier().

In [9]:
df.drive_wheels.value_counts()
#hot encode this

fwd    120
rwd     76
4wd      9
Name: drive_wheels, dtype: int64

In [10]:
df.normalized_losses.value_counts()

161.0    11
91.0      8
150.0     7
104.0     6
128.0     6
134.0     6
102.0     5
85.0      5
103.0     5
168.0     5
74.0      5
95.0      5
94.0      5
65.0      5
122.0     4
148.0     4
118.0     4
93.0      4
106.0     4
115.0     3
125.0     3
83.0      3
101.0     3
137.0     3
154.0     3
188.0     2
81.0      2
192.0     2
158.0     2
145.0     2
113.0     2
110.0     2
153.0     2
129.0     2
194.0     2
197.0     2
87.0      2
89.0      2
119.0     2
164.0     2
108.0     2
231.0     1
107.0     1
78.0      1
256.0     1
98.0      1
121.0     1
77.0      1
142.0     1
90.0      1
186.0     1
Name: normalized_losses, dtype: int64

In [11]:
df.normalized_losses.value_counts()

161.0    11
91.0      8
150.0     7
104.0     6
128.0     6
134.0     6
102.0     5
85.0      5
103.0     5
168.0     5
74.0      5
95.0      5
94.0      5
65.0      5
122.0     4
148.0     4
118.0     4
93.0      4
106.0     4
115.0     3
125.0     3
83.0      3
101.0     3
137.0     3
154.0     3
188.0     2
81.0      2
192.0     2
158.0     2
145.0     2
113.0     2
110.0     2
153.0     2
129.0     2
194.0     2
197.0     2
87.0      2
89.0      2
119.0     2
164.0     2
108.0     2
231.0     1
107.0     1
78.0      1
256.0     1
98.0      1
121.0     1
77.0      1
142.0     1
90.0      1
186.0     1
Name: normalized_losses, dtype: int64

In [12]:
df.symboling.value_counts()

 0    67
 1    54
 2    32
 3    27
-1    22
-2     3
Name: symboling, dtype: int64

In [13]:
df.make.value_counts()
#Hot-encode this

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
volvo            11
peugot           11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

In [14]:
df.fuel_type.value_counts()
#Label encode this

gas       185
diesel     20
Name: fuel_type, dtype: int64

In [15]:
df.aspiration.value_counts()
#Label encode this

std      168
turbo     37
Name: aspiration, dtype: int64

In [16]:
df.num_of_doors.value_counts()

four    114
two      89
Name: num_of_doors, dtype: int64

In [17]:
#Delete question marks or unknown categories 
df = df[df['num_of_doors'] != '?']

In [18]:
df.num_of_doors.value_counts()

four    114
two      89
Name: num_of_doors, dtype: int64

In [19]:
df = df.fillna({"num_doors": "four"})
df.num_of_doors.value_counts()

four    114
two      89
Name: num_of_doors, dtype: int64

In [20]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [21]:
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

In [22]:
missing_values_table(df)

Your selected dataframe has 26 columns.
There are 7 columns that have missing values.

                   Missing Values  % of Total Values
normalized_losses              41               20.0
bore                            4                2.0
stroke                          4                2.0
price                           4                2.0
num_of_doors                    2                1.0
horsepower                      2                1.0
peak_rpm                        2                1.0

In [23]:
#Filling missing values with MEAN for respective columns
df['normalized_losses'] = df['normalized_losses'].fillna((df['normalized_losses'].mean()))
df['bore'] = df['bore'].fillna((df['bore'].mean()))
df['stroke'] = df['stroke'].fillna((df['stroke'].mean()))
df['price'] = df['price'].fillna((df['price'].mean()))
df['horsepower'] = df['horsepower'].fillna((df['horsepower'].mean()))
df['peak_rpm'] = df['peak_rpm'].fillna((df['peak_rpm'].mean()))

In [24]:
missing_values_table(df)

Your selected dataframe has 26 columns.
There are 1 columns that have missing values.

              Missing Values  % of Total Values
num_of_doors               2                1.0

In [25]:
df.num_of_doors = df.num_of_doors.fillna('four')

In [26]:
missing_values_table(df)

Your selected dataframe has 26 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [27]:
df.body_style.value_counts()
#Hot encode this

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body_style, dtype: int64

In [28]:
df.drive_wheels.value_counts()

fwd    120
rwd     76
4wd      9
Name: drive_wheels, dtype: int64

In [29]:
df.engine_location.value_counts()
#Change front to 1

front    202
rear       3
Name: engine_location, dtype: int64

In [30]:
df.fuel_system.value_counts()
#Hot encode this

mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
spfi     1
mfi      1
Name: fuel_system, dtype: int64

# Label encoding needed labels

In [31]:
#To label encode fuel_type, aspiration, num_doors, engine_location
from sklearn.preprocessing import LabelEncoder

label_encode = LabelEncoder()

In [32]:
df["fuel_type"] = label_encode.fit_transform(df["fuel_type"])
df["aspiration"] = label_encode.fit_transform(df["aspiration"])
df["num_of_doors"] = label_encode.fit_transform(df["num_of_doors"])
df["engine_location"] = label_encode.fit_transform(df["engine_location"])

In [33]:
df.head(10)

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,122.0,alfa-romero,1,0,1,convertible,rwd,0,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.000000
1,3,122.0,alfa-romero,1,0,1,convertible,rwd,0,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.000000
2,1,122.0,alfa-romero,1,0,1,hatchback,rwd,0,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.000000
3,2,164.0,audi,1,0,0,sedan,fwd,0,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.000000
4,2,164.0,audi,1,0,0,sedan,4wd,0,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.000000
5,2,122.0,audi,1,0,1,sedan,fwd,0,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.000000
6,1,158.0,audi,1,0,0,sedan,fwd,0,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,17710.000000
7,1,122.0,audi,1,0,0,wagon,fwd,0,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,18920.000000
8,1,158.0,audi,1,1,0,sedan,fwd,0,105.8,...,131,mpfi,3.13,3.40,8.3,140.0,5500.0,17,20,23875.000000
9,0,122.0,audi,1,1,1,hatchback,4wd,0,99.5,...,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,13207.129353

# Hot-Encoding needed columns

In [34]:
#hot encoding body_style
df = pd.get_dummies(df, columns=["body_style"], prefix=["bodystyle"])

In [35]:
#hot encoding drive_wheels
df = pd.get_dummies(df, columns=["drive_wheels"], prefix=["drivewheels"])

In [36]:
#hot encoding make
df = pd.get_dummies(df, columns=["make"], prefix=["make"])

In [37]:
df.head()

,symboling,normalized_losses,fuel_type,aspiration,num_of_doors,engine_location,wheel_base,length,width,height,...,make_nissan,make_peugot,make_plymouth,make_porsche,make_renault,make_saab,make_subaru,make_toyota,make_volkswagen,make_volvo
0,3,122.0,1,0,1,0,88.6,168.8,64.1,48.8,...,0,0,0,0,0,0,0,0,0,0
1,3,122.0,1,0,1,0,88.6,168.8,64.1,48.8,...,0,0,0,0,0,0,0,0,0,0
2,1,122.0,1,0,1,0,94.5,171.2,65.5,52.4,...,0,0,0,0,0,0,0,0,0,0
3,2,164.0,1,0,0,0,99.8,176.6,66.2,54.3,...,0,0,0,0,0,0,0,0,0,0
4,2,164.0,1,0,0,0,99.4,176.6,66.4,54.3,...,0,0,0,0,0,0,0,0,0,0

In [38]:
#hot encoding make
df = pd.get_dummies(df, columns=["fuel_system"], prefix=["fuelsystem"])

In [39]:
#Hot-Encoding num_of_cylinders
df = pd.get_dummies(df, columns=["num_of_cylinders"], prefix=["numofcylinders"])

In [40]:
#Hot-Encoding engine_type
df = pd.get_dummies(df, columns=["engine_type"], prefix=["enginetype"])

In [41]:
df.head()

,symboling,normalized_losses,fuel_type,aspiration,num_of_doors,engine_location,wheel_base,length,width,height,...,numofcylinders_three,numofcylinders_twelve,numofcylinders_two,enginetype_dohc,enginetype_dohcv,enginetype_l,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor
0,3,122.0,1,0,1,0,88.6,168.8,64.1,48.8,...,0,0,0,1,0,0,0,0,0,0
1,3,122.0,1,0,1,0,88.6,168.8,64.1,48.8,...,0,0,0,1,0,0,0,0,0,0
2,1,122.0,1,0,1,0,94.5,171.2,65.5,52.4,...,0,0,0,0,0,0,0,0,1,0
3,2,164.0,1,0,0,0,99.8,176.6,66.2,54.3,...,0,0,0,0,0,0,1,0,0,0
4,2,164.0,1,0,0,0,99.4,176.6,66.4,54.3,...,0,0,0,0,0,0,1,0,0,0

In [42]:
X = df.iloc[:, 1:72]

In [43]:
y = df.iloc[:, 0:1]

In [44]:
y.head()

   symboling
0          3
1          3
2          1
3          2
4          2

In [45]:
X = np.array(X)

In [46]:
y = np.array(y)

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [49]:
from sklearn.preprocessing import StandardScaler

In [50]:
scalar = StandardScaler()

In [51]:
X_train = scalar.fit_transform(X_train)

In [52]:
X_test = scalar.transform(X_test)

# Ridge Classifier

In [53]:
from sklearn.linear_model import RidgeClassifier

In [54]:
%%time
clf = RidgeClassifier()
clf.fit(X_train, y_train)
print("Training set score: {: 3f}".format(clf.score(X_train, y_train)))
print("Test set score: {: 3f}".format(clf.score(X_test, y_test)))

Training set score:  0.882353
Test set score:  0.576923
Wall time: 8.93 ms

C:\Users\jnandikonda\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:810: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# 2.B Text feature extraction Take the 20 newsgroup dataset from https://archive.ics.uci.edu/ml/datasets/Twenty+Newsgroups or https://scikit-learn.org/0.19/datasets/twenty_newsgroups.html, load texts to Python, then use HashingVectorizer() to get features and build a classifier with RandomForestClassifier().

In [55]:
from sklearn.datasets import fetch_20newsgroups

In [56]:
from sklearn.feature_extraction.text import HashingVectorizer

In [57]:
hv = HashingVectorizer(n_features=10, norm=None, alternate_sign=False)

In [58]:
#X = hv.fit_transform(["red flower", "flower is blue", "small fish", "small white dog"])
#X.todense().astype("int")

In [59]:
news_data = fetch_20newsgroups()

In [60]:
news_data.data[81]

'From: roby@chopin.udel.edu (Scott W Roby)\nSubject: Re: BATF/FBI Murders Almost Everyone in Waco Today! 4/19\nNntp-Posting-Host: chopin.udel.edu\nOrganization: University of Delaware\nLines: 45\n\nIn article <1993Apr20.195636.17742@guinness.idbsu.edu> betz@gozer.idbsu.edu (Andrew Betz) writes:\n>In article <C5sou8.LnB@news.udel.edu> roby@chopin.udel.edu (Scott W Roby) writes:\n>>>Watch from where?  Two miles away?  Far enough away that whatever\n>>>really happenned must be explained through the vengeful filter of\n>>>a humiliated agency that said (quote!) "Enough is enough."\n>>\n>>Please tell me what you think would have happened had the people \n>>come out with their hands up several weeks ago.\n\nNo answer.\n\n>You didn\'t answer the question.  The FBI took people out of\n>camera range.  It is thus possible that they were engaging in\n>questionable activities.\n\nI do not feel like the cameras were out of range.  Cameras watched the first \nconfrontation.  Cameras watched the banners.  Cmaeras watched the final \nconfrontation with tanks.  Cameras watched the fire.  When weren\'t cameras \nable to watch?  When would cameras be unable to watch people coming out with \ntheir hands up?\n\n>As to your question, please tell me what you think would have happened\n>had the ATF goon squad knocked and asked politely several weeks\n>ago (as opposed to playing Rambo with a t.v. crew in tow).\n\nWell, that is what BATF should have done.  Either, Koresh would have gone \npeaceably as he has done in the past, or perhaps it was already too close \nto the apocalypse in his own mind.  It is hard to predict the actions of \na leader who would not release the children when most rational people would.\n\nNow will you answer my question up top?\n\n>\n>Drew\n>--\n>betz@gozer.idbsu.edu\n>*** brought into your terminal from the free state of idaho ***\n>*** when you outlaw rights, only outlaws will have rights   ***\n>*** spook fodder: fema, nsa, clinton, gore, insurrection, nsc,\n>    semtex, neptunium, terrorist, cia, mi5, mi6, kgb, deuterium\n\n\n-- \n\n\n'

In [61]:
len(news_data.data)

11314

In [62]:
news_data.target_names

['alt.atheism',
 'comp.graphics',
 'comp.os.ms-windows.misc',
 'comp.sys.ibm.pc.hardware',
 'comp.sys.mac.hardware',
 'comp.windows.x',
 'misc.forsale',
 'rec.autos',
 'rec.motorcycles',
 'rec.sport.baseball',
 'rec.sport.hockey',
 'sci.crypt',
 'sci.electronics',
 'sci.med',
 'sci.space',
 'soc.religion.christian',
 'talk.politics.guns',
 'talk.politics.mideast',
 'talk.politics.misc',
 'talk.religion.misc']

In [63]:
len(news_data.target)

11314

In [63]:
hv = HashingVectorizer(n_features=1000, input="content")
M = hv.fit_transform(news_data.data)
#np.array(X.todense())

In [64]:
M

<11314x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 1550687 stored elements in Compressed Sparse Row format>

In [65]:
M.shape

(11314, 1000)

In [66]:
n = news_data.target

In [67]:
n

array([7, 4, 4, ..., 3, 1, 8])

In [68]:
from sklearn.model_selection import train_test_split
M_train, M_test, n_train, n_test = train_test_split(M, n, random_state=0)

In [69]:
%%time
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification



M, n = make_classification(n_samples=1000, n_features=71, n_informative=2, n_redundant=0,random_state=0, shuffle=False)
classifier = RandomForestClassifier(n_estimators=1000, max_depth=2, random_state=0)
#clf.fit(X, y)
#classifier = RandomForestClassifier(n_estimators=71)

classifier.fit(M_train, n_train)

print("Training set score: {: 3f}".format(classifier.score(M_train, n_train)))
print("Test set score: {: 3f}".format(classifier.score(M_test, n_test)))

Training set score:  0.420860
Test set score:  0.400141
Wall time: 14.1 s